<body>
  
	<div class="container">
    	<% content_for :title, "Edit" %>
		<h2>Edit <%= resource_name.to_s.humanize %></h2>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		<%= devise_error_messages! %>
 

		<div class="field">
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true %></br>
		  </div>
		
		  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		  <% end %>
		
		
		 <div class="field">
			<%= f.label :Geburtstag %> 
			<%= f.date_field :birthday %><br /><br />
		  </div>
		
		  <div class="field">
			<%= f.label :Wohnort %>
			<%= f.text_field :place_of_residence %><br />
		  </div>
		
		  <div class="field">
			<%= f.label :passwort %> <i>(Lasse es aus wenn du nichts ändern möchtest)</i>
			<%= f.password_field :password, autocomplete: "off" %>
			<% if @minimum_password_length %>
		  	<em>mindestens <%= @minimum_password_length %> Zeichen</em>
		  	</br>
			<% end %></br>
		  </div>
		
		  <div class="field">
			<%= f.label :passwort_bestätigung %>
			<%= f.password_field :password_confirmation, autocomplete: "off" %><br />
		  </div>
		
		  <div class="field">
			<%= f.label :aktuelles_passwort %> <i>(Wir brauchen dein Passwort um deine Änderungen zu bestätigen)</i>
			<%= f.password_field :current_password, autocomplete: "off" %><br />
		  </div>
		
		  <div class="actions">
			<%= f.submit "Update" %>
		  </div>
		<% end %>
		
		<br>
		<p>Unglücklich? <%= button_to "Akkount löschen", registration_path(resource_name), data: { confirm: "bist du sicher?" }, method: :delete %></p>
		
		<%= link_to "Zurück", :back %>

		</d>
	</div>
</body>