<head>

</head>

<body>
<div class="table-responsive">
  <table class="table">

    <thread>
        <tr>
        <th><strong>Username </strong></th>
        <th><strong>Strecke</strong></th>
        <th><strong>Datum</strong></th>
        <th><strong>Transportmittel</strong></th>
        <th><strong>CO2 Ausstoß</strong></th>
        </tr>
    </thread>
    
    <tbody>
        <% @balances.each do |balance| %>
        <tr>
            <% if balance.user == current_user %>
            <td><%= balance.user.username %></td>
            <td><%= balance.track_length %>
            <%= "km" %></td>
            <td><%= balance.date%></td>
            <td><%= balance.means_of_transport%></td>
            <td><%= balance.emission%>
            <%= "kg" %></td>
            <% end %>
        </tr>
        <% end %>
    </tbody>

</table>
</div>

<%= used_transport%>
<%= bilanz %>
</body>

