<!-- Anzeige für Emissionseintrag/ Reisedaten-->

<head>
	<title>Eintrag</title>
	<% content_for :title, "Daten eingetragen" %>
</head>

<body>
	<div class="container">
	
	<!-- Datum -->	
    	<h4> Datum: </h4>
    	<p> <%= @balance.date %> </p>
   
   	<!-- Strecke in km --> 	
    	<h4> Strecke:</h4>
		<p> <%= @balance.track_length %> <%= "km" %> </p>
	
	<!-- CO2-Ausstoß in kg -->	
		<h4> Ausstoß:</h4>
		<p> <%= @balance.emission %> <%= "kg" %> </p>
	
	<!-- Transportmittel -->	
		<h4>Transportmittel:</h4>
		<p> <%= @balance.means_of_transport %> </p>
		
	</div>
</body>