<h1>Pages#profil</h1>
<p>Find me in app/views/pages/profil.html.erb</p>


<ul class="divided">
	<li>
		<article class="box post-summary">
			<h3><a href="#">Username </a></h3>
		</article>
	</li>
	<% if user_signed_in? %>
         <%= current_user.username %>
    <% else %>
        <%= "du bist nicht eingeloggt" %>
	<% end %>
	
	<li>
		<article class="box post-summary">
			<h3><a href="#">Geburtstag</a></h3>
		</article>
	</li>
	<% if user_signed_in? %>
         <%= current_user.birthday %>
    <% else %>
        <%= "/" %>
	<% end %>
	
	<li>
		<article class="box post-summary">
			<h3><a href="#">Wohnort</a></h3>
		</article>
	</li>
	<% if user_signed_in? %>
         <%= current_user.place_of_residence %>
    <% else %>
        <%= "/" %>
	<% end %>
	
	<% if user_signed_in? %>
	    <%= link_to "bearbeiten", edit_user_registration_path %>
	<% else %>
	    <%= link_to "Account erstellen", new_user_registration_path %>
	<% end %>
	
</ul>