<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a href="index.html" id="logo">Melissa</a></h1>
							<p>hat die ganze Nacht gearbeitet</p>
						</div>
					</div>
				</header>
				
<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class ="current"><%= link_to "Home", pages_index_path %></li>
						<li href ="current"><%= link_to "Infos", pages_infos_path %></li>
						<li href ="current"><%= link_to "Karte", balances_new_path %></li>
						<li href ="current"><%= link_to "Profil", pages_profil_path %></li>
						<li href ="current"><%= link_to "Bilanz", balances_path %></li>
						
						<!-- Angepasste Anzeige bei eingeloggtem/nicht eingeloggtem User -->
						<% if user_signed_in? %>
							<li href ="current"><%= link_to "Abmelden", destroy_user_session_path, method: :delete %></li>
						<% else %>
							<li href ="current"><%= link_to "Logge dich ein!", new_user_session_path %></li>
						<% end %>
					</ul>
				</nav>
