<!DOCTYPE html>
<html>
<head>
  <title>Footprint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- Ausgelagerter Header -->  
<%= render "layouts/header" %>

<!-- dynamischer Inhalt --> 
<%= yield %> 

<!-- Ausgelagerter Footer --> 
<%= render "layouts/footer" %>

</body>
</html>